<!-- Loop through all items -->
<% items.each do |item| %>
  <div class="card-item">
    <div class="card-item-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= cl_image_path(item.photo.key) %>')"></div>
    <div class="d-flex justify-content-around align-items-center">
      <div class="card-item-user">
        <%= cl_image_tag item.user.photo.key, class: "avatar-bordered"%>
        <h5 id="card-item-user-name"><%= item.user.first_name %></h5>
      </div>
      <div class="card-item-category">
        <strong><%= item.category.name %></strong>
      </div>
    </div>
    <div class="card-item-infos">
      <div>
        <h2><%= item.title %></h2>
        <p>Collect between <%= item.available_start_date.strftime("%d/%m") %> and <%= item.available_end_date.strftime("%d/%m") %></p>
      </div>
      <div class="card-item-date">
        <% if Category.find(item.category.parent_id).name == "Food" %>
          <% if item.best_before_date.present? %>
            <p>Best before</p>
            <p>the <%= item.best_before_date.strftime("%d/%m") %></p>
          <% else %>
            <p>Save by</p>
            <p>the <%= item.available_end_date.strftime("%d/%m") %></p>
          <% end %>
        <% else %>
          <p>Save by</p>
          <p>the <%= item.available_end_date.strftime("%d/%m") %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<!-- End loop -->
