<div class="navbar-bottom" data-controller="highlight">

  <%= link_to items_path do %>
    <div class="tab-current">
      <i class="fa-solid fa-utensils" style="color: #ffffff;"></i>
    </div>
  <% end %>
  <%= link_to items_path do %>
  <div class="tab-current">
    <i class="fa-solid fa-couch" style="color: #ffffff;"></i>
  </div>
  <% end %>

<% if user_signed_in? %>
   <%= link_to '#', data: { controller: "modal", action: "modal#openCategoryModal" } do %>
    <div class="tab-current new-item">
      <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
    </div>
  <% end %>
  <%= link_to items_path do %>
    <div class="tab-current">
      <i class="fa-solid fa-house" style="color: #ffffff;"></i>
    </div>
  <% end %>
  <%= link_to dashboard_path do %>
    <div class="tab-current">
      <i class="fa-solid fa-user" style="color: #ffffff;"></i>
    </div>
  <% end %>
<% end %>
</div>
