<div class="navbar-bottom">

  <%= link_to items_path do %>
    <div class="tab-current">
      <i class="fa-solid fa-utensils icon-size" style="color: #ffffff;"></i>
      <p class="m-0 text-center">Food</p>
    </div>
  <% end %>

  <%= link_to items_path do %>
  <div class="tab-current">
    <i class="fa-solid fa-couch icon-size" style="color: #ffffff;"></i>
    <p class="m-0 text-center">Objects</p>
  </div>
  <% end %>

  <%= link_to '#', data: { action: "click->modal#showCategoryModal" } do %>
  <div class="tab-current new-item">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
  </div>
  <% end %>

  <%= link_to items_path do %>
    <div class="tab-current">
      <i class="fa-solid fa-house icon-size" style="color: #ffffff;"></i>
      <p class="m-0 text-center">Neighbours</p>
    </div>
  <% end %>

  <%= link_to dashboard_path do %>
    <div class="tab-current">
      <i class="fa-solid fa-user icon-size" style="color: #ffffff;"></i>
      <p class="m-0 text-center">Profile</p>
    </div>
  <% end %>

</div>
