<!DOCTYPE html>
<html>
  <head>
    <title>FoodNextDoor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
  </head>

  <body>
    <!-- exclusion de la navbar pour le splash screen et les vues devises -->
    <% unless action_name == "welcome" || controller_name.in?(%w[sessions registrations confirmations passwords]) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>
    <%= render "shared/modals" %>
    <%= yield %>
  </body>
</html>
